/* src/components/SignupScreen.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    text-align: center;
    margin: 100px auto;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.signup-form .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.icon {
    color: #4CAF50;
    margin-right: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    border: none;
    outline: none;
}

.toggle-password {
    cursor: pointer;
    color: #4CAF50;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
